<footer class="footer">
    <div class="container footer-wrapper">
        <h2 class="footer__title">- get in touch with us -</h2>
        <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.<span> Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        <div class="footer__icons">
            <a href="#"><img src="@img/icons/ico-RSS.svg" alt="#"></a>
            <a href="#"><img src="@img/icons/ico-Facebook.svg" alt="#"></a>
            <a href="#"><img src="@img/icons/ico-Twitter.svg" alt="#"></a>
            <a href="#"><img src="@img/icons/ico-Dribbble.svg" alt="#"></a>
            <a href="#"><img src="@img/icons/ico-Pinterest.svg" alt="#"></a>
        </div>
        <div class="footer__contacts">
            <p>Moonshine St. 14-05 Light City   /</p>
            <p>T. +00 (123) 456 78 90   /</p>
            <p>first.last@email.com</p>
        </div>
    </div>
</footer>