<header class="header">
    <div class="container">
        <nav class="header__menu">
            <div class="header__burger">
                <span></span>
            </div>
        <ul class="header__menu-list">
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link active">Home</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">about us</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">our journal</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">projects</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">news</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">features</a></li>
            <li class="header__menu-list-item"><a href="#" class="header__menu-list-link">contact</a></li>
        </ul>
        </nav>
        <img class="header__image" src="@img/intro-img.png" alt="header img">
    </div>
</header>