<main class="main">
        <div class="container">
            <h2 class="posts__title">- our Recent posts</h2>
            <div class="posts__items">
                <div class="posts__item">
                    <div class="posts__item-image"><img src="@img/post-img_1.png" alt="image"></div>
                    <div class="posts__item-info">
                        <p class="posts__item-image-title">Aenean Adipiscing Etiam Vestibulum</p>
                        <p class="posts__item-image-subtitle">Photography, Journal   /   9 Comments</p>
                        <p class="posts__item-image-text">Etiam porta sem malesuada euismod. Aenean leo quam.<br>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-image"><img src="@img/post-img_2.png" alt="image"></div>
                    <div class="posts__item-info">
                        <p class="posts__item-image-title">Aenean Adipiscing Etiam Vestibulum</p>
                        <p class="posts__item-image-subtitle">Photography, Journal   /   9 Comments</p>
                        <p class="posts__item-image-text">Etiam porta sem malesuada euismod. Aenean leo quam.<br>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-image"><img src="@img/post-img_3.png" alt="image"></div>
                    <div class="posts__item-info">
                        <p class="posts__item-image-title">Aenean Adipiscing Etiam Vestibulum</p>
                        <p class="posts__item-image-subtitle">Photography, Journal   /   9 Comments</p>
                        <p class="posts__item-image-text">Etiam porta sem malesuada euismod. Aenean leo quam.<br>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-image"><img src="@img/post-img_4.png" alt="image"></div>
                    <div class="posts__item-info">
                        <p class="posts__item-image-title">Aenean Adipiscing Etiam Vestibulum</p>
                        <p class="posts__item-image-subtitle">Photography, Journal   /   9 Comments</p>
                        <p class="posts__item-image-text">Etiam porta sem malesuada euismod. Aenean leo quam.<br>Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
        </div>
    <section class="instagram">
        <div class="container">
            <div class="instagram__header">
                <h2 class="instagram__title">- Latest Instagram Shots</h2>
                <a href="#" class="instagram__link">go to our instagram page -</a>
            </div>
            <div class="instagram__images-wrapper">
                <img src="@img/insta-img_1.png" alt="instagram__image" class="instagram__image">
                <img src="@img/insta-img_2.png" alt="instagram__image" class="instagram__image">
                <img src="@img/insta-img_3.png" alt="instagram__image" class="instagram__image">
                <img src="@img/insta-img_4.png" alt="instagram__image" class="instagram__image">
            </div>
        </div>
    </section>
</main>