@import "mixins";
@import "var";

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer {

    background-color: #000000;
    padding-top: 38px;
    padding-bottom: 47px;

    &__title {
        @extend .posts__title;
        color: $title-color-footer;
    }

    &__text {
        @include fontTextFooterMobile;
        color: $text-color-footer;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 26px;
    }
    &__text span {
        display: none;
    }

    &__icons {
        width: 192px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__contacts {
        @include fontContactsMobile;
        color: $text-color-footer;
        text-align: center;
    }
}

// Laptop
@media (min-width: 768px) {

    .footer {
        padding-top: 57px;
        padding-bottom: 56px;
    }

    .footer__text {
        @include fontTextFooterDesktop;
        margin-top: 22px;
        margin-bottom: 37px;
    }
    .footer__text span {
        display: inline;
    }

    .footer__icons {
        margin-bottom: 34px;
    }

    .footer__contacts {
        @include fontContactsDesktop;
    }

    .footer__contacts p {
        display: inline-block;
    }
}

// Desktop
@media (min-width: 1200px) {

    .footer {
        padding-top: 66px;
        padding-bottom: 70px;

        &__text {
            max-width: 684px;
        }
    }
}