@import "mixins";
@import "var";

// Mobile
.header {
   
    padding-top: 23px;
    margin-bottom: 42px;

    &__menu {
        min-height: 37px;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    // Бургер-лого
    &__burger {
        display: block;
        position: relative;
        width: 44px;
        height: 37px;
        background-color: #000000;
    }
    &__burger::before,
    &__burger::after {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 17px;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    &__burger::before {
        top: 13px;
        left: 13px;
    }
    &__burger::after {
        bottom: 14px;
        left: 13px;
    }
    &__burger span {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFFFFF;
        top: 17px;
        left: 13px;
        transition: all 0.3s ease 0s;
    }

    // Клік-трансформація бургер-лого
    &__burger.active::before {
        transform: rotate(45deg);
        top: 17px;
    }
    &__burger.active::after {
        transform: rotate(-45deg);
        bottom: 18px;
    }
    &__burger.active span {
        transform: scale(0);
    }

    // Меню хедера (мобільна версія)
    &__menu-list {
        position: absolute;
        top: 37px;
        width: 182px;
        display: none;
        background: #F5F5F5;
    &.active {
    display: flex;
    flex-direction: column;
    }
    }
    
    &__menu-list-item {
        padding: 4px 0 4px 13px;
        text-transform: uppercase;
        @include fontMenuListItem;
    }
    &__menu-list-item:hover {
        background-color: $menu-list-item-hover-header;
    }
    &__menu-list-link {
        display: block;
        color: $menu-list-item-color-header;
    }
    &__menu-list-link.active {
        color: #57A4A4;
    }

    // Картинка-хедера
    &__image {
        max-width: 100%;
        display: block;
    }
}

// Laptop
@media (min-width: 768px) {
    .header {
        padding-top: 23px;
        margin-bottom: 59px;
    }
    .header__menu {
        min-height: 55px;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
    }
    .header__burger {
        display: none;
    }
    .header__menu-list {
        position: unset;
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .header__menu-list-item {
        display: contents;
    &:hover {
        background: none;
    }
    }
}

// Desktop
@media (min-width: 1200px) {
    .header {
        padding-top: 29px;
        margin-bottom: 69px;
    }
    .header__menu {
        margin-bottom: 34px;
    }
}