@import "mixins";
@import "var";


// OUR POSTS
.posts {

    &__title {
        @include fontTitlesMobile;
        color: $title-color-main;
    }
    // контейнер з картинками і текстом
    &__items {
        margin-top: 23px;
        margin-bottom: 81px;
    }

    // блок з картинкою і текстом
    &__item {
        margin-bottom: 29px;
    }
    &__item:last-child {
        display: none;
    }

    // картинки з описом 
    &__item-image img {
        display: block;
    }
    &__item-info {
        margin-top: 11px;
    }
    &__item-image-title {
        @include fontImgTitelsMobile;
        color: $title-img-color-main;
    }
    &__item-image-subtitle {
        @include fontImgSubtitlesMobile;
        color: $subtitles-img-color-main;
    }
    &__item-image-text {
        display: none;
        @include fontImgText;
        color: $text-img-color-main;
    }
}

// Laptop
@media (min-width: 768px) {

    .posts__title {
        @include fontTitlesDesktop;
    }
    .posts__items {
        margin-bottom: 60px;
    }
    .posts__item:last-child {
        display: flex;
    }
    .posts__item {
        margin-bottom: 32px;
        display: flex;
    }
    .posts__item-info {
        margin-left: 20px;
        margin-top: 0;
    }
    .posts__item-image-title {
        @include fontImgTitelsDesktop;
    }
    .posts__item-image-subtitle {
        @include fontImgSubtitlesDesktop;
    }
    .posts__item-image-text {
        display: block;
        margin-top: 13px;
    }
}

// Desktop
@media (min-width: 1200px) {

    .posts__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 55px;
        grid-row-gap: 32px;
        margin-bottom: 69px;
    }
    .posts__item {
        margin-bottom: 0;
    }
}


// INSTAGRAM
.instagram {

    padding-bottom: 42px;

    &__header {
        margin-bottom: 13px;
    }

    &__title {
        @extend .posts__title;
    }

    &__link {
        display: none;
    }

    &__images-wrapper {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
    }
    &__image:nth-child(2), 
    &__image:nth-child(3),
    &__image:nth-child(4) {
        display: none;
    }
}

// Laptop
@media (min-width: 768px) {

    .instagram {
        background-color: rgba(0, 0, 0, 0.03);
        padding-top: 47px;
        padding-bottom: 50px;
    }

    .instagram__header {
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
    }

    .instagram__link {
        display: block;
        @include fontInstaLinkDesktop;
        color: $title-color-main;
    }

    .instagram__images-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 9px;
    }
    .instagram__image:nth-child(2),
    .instagram__image:nth-child(3) {
        display: block;
    }
    .instagram__image {
        width: 100%;
    }
}

// Desktop
@media (min-width: 1200px) {

    .instagram__header {
        margin-bottom: 24px;
    }

    .instagram__images-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    .instagram__image:nth-child(4) {
        display: block;
    }
}
