// HEADER
@mixin fontMenuListItem {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
}


// MAIN

// всі заголовки на сторінці Mobile
@mixin fontTitlesMobile {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
@mixin fontImgTitelsMobile {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
}
@mixin fontImgSubtitlesMobile {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

// Laptop + Desktop
@mixin fontImgText {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
@mixin fontTitlesDesktop {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
@mixin fontImgTitelsDesktop {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
@mixin fontImgSubtitlesDesktop {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
@mixin fontInstaLinkDesktop {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
}


// FOOTER

// Mobile
@mixin fontTextFooterMobile {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
@mixin fontContactsMobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

// Laptop + Desktop
@mixin fontTextFooterDesktop {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
@mixin fontContactsDesktop {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}