// header
$menu-list-item-color-header: #4E4E4E;
$menu-list-item-hover-header: #e5e5e5;


// main 
$title-color-main: #4E4E4E;
$title-img-color-main: #4E4E4E;
$subtitles-img-color-main: #7C7C7C;
$text-img-color-main: #5C5C5C;


// footer
$title-color-footer: #FEFEFE;
$text-color-footer: #B9B9B9;