@import "reset";
@import "header";
@import "main";
@import "footer";
@import "mixins";
@import "var";

html {
  box-sizing: border-box;
}
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
a {
  text-decoration: none;
}

.container {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 10px;
  @media (min-width: 768px) {
    max-width: 1170px;
  }
}
